{% extends "../base/mbase.html" %}

{% block title %}混凝土使用管理{% endblock %}

{% block header %}
  <style type="text/css">
    select {
      -webkit-appearance: none;
      appearance: none;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="row" style="margin-top: 10px;">
    <div class="col">
      <h3>混凝土使用管理</h3>
    </div>
  </div>

  <form>

    <div class="form-group">
      <label for="f-num">编号</label>
      <input type="text" class="form-control" id="f-num" name="num" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-project">项目</label>
      <input type="text" class="form-control" id="f-project" name="project" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-jiaobanzhan">拌合站</label>
      <input type="text" class="form-control" id="f-jiaobanzhan" name="jiaobanzhan" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-jiegouwumingcheng">结构物名称</label>
      <input type="text" class="form-control" id="f-jiegouwumingcheng" name="jiegouwumingcheng" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-jiaozhubuwei">浇筑部</label>
      <input type="text" class="form-control" id="f-jiaozhubuwei" name="jiaozhubuwei" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-shejiqiangdu">设计强度</label>
      <input type="text" class="form-control" id="f-shejiqiangdu" name="shejiqiangdu" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-zhujiaoriqi">浇筑日期</label>
      <input type="date" class="form-control" id="f-zhujiaoriqi" name="zhujiaoriqi" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-volume">设计方量（m³）</label>
      <input type="text" class="form-control" id="f-volume" name="volume" placeholder="">
    </div>

    <div class="form-group">
      <label for="f-volume">说明</label>
      <textarea id="f-volume" name="volume" rows="4" class="form-control"></textarea>
    </div>

    <button class="btn btn-success btn-block">提交</button>

  </form>

{% endblock %}
