{% extends "../base/mbase.html" %}

{% block title %}XXX工程现场管理系统v1.0{% endblock %}

{% set select_menu = "1" %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="list-group" style="margin-top: 20px;">
      <a href="shigongrizhiguanli_new.html" class="list-group-item list-group-item-action">施工日志</a>
      <a href="shigongrizhiguanli_rili.html" class="list-group-item list-group-item-action">施工日志-日历</a>
      <a href="shigongrizhiguanli_yulan.html" class="list-group-item list-group-item-action">施工日志-预览</a>
      <a href="baojianguanli_new.html" class="list-group-item list-group-item-action">报检管理</a>
      <a href="baojianguanli_shenpi.html" class="list-group-item list-group-item-action">报检管理-审批</a>
      <a href="hunningtushiyongguanli.html" class="list-group-item list-group-item-action">混凝土使用管理</a>
      <a href="hunningtushiyongguanli_shenpi.html" class="list-group-item list-group-item-action">混凝土使用管理-审批</a>
      <a href="zhishiguanli.html" class="list-group-item list-group-item-action">知识管理</a>
    </div>
{% endblock %}
