{% extends "../base/mbase.html" %}

{% block title %}XXX工程现场管理系统v1.0{% endblock %}

{% block header %}
  <style type="text/css">
    .table td, .table th {
      text-align: center;
    }
  </style>
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 10px;">
      <div class="col">
        <h3>施工日志</h3>
      </div>
    </div>

    <form>
      <div class="form-group">
        <textarea class="form-control" rows="8">
  x人：20人；
  xx机：4台；
  xx料：5吨；

  xx人：23人；
  xx机：4台；
  xx料：8吨；
        </textarea>
      </div>

      <div class="form-group row">
        <div class="col"><button class="btn btn-primary btn-block">编辑</button></div>
        <div class="col"><button class="btn btn-success btn-block">保存</button></div>
      </div>

    </form>
{% endblock %}
