{% extends "../base/mbase.html" %}

{% block title %}报检管理{% endblock %}

{% set select_menu = "5" %}

{% block header %}
  <style type="text/css">
    select {
      -webkit-appearance: none;
      appearance: none;
    }
    .upload-img-preview {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .upload-img-choose {
      border: 1px dashed #5cb85c;
      height: 100px;
      width: 100px;
      border-radius: 6px;
      text-align: center;
      padding: 0;
      margin-bottom: 0;
      line-height: 96px;
      font-size: 28px;
      color: #5cb85c;
    }
    .data-table thead,
    .data-table tbody{
      min-width: 100%;
    }
  </style>
{% endblock %}

{% block body %}
    <div class="row">
      <div class="col" style="margin: 20px 0;">
        <h3>工作计划</h3>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th style="width: 100px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1月第一周工作计划</td>
          <td><a href="zhishiguanli_gongzuojihua_edit.html">编辑</a></td>
        </tr>
        <tr>
          <td>1月第二周工作计划</td>
          <td><a href="zhishiguanli_gongzuojihua_edit.html">编辑</a></td>
        </tr>
        <tr>
          <td>1月第三周工作计划</td>
          <td><a href="zhishiguanli_gongzuojihua_edit.html">编辑</a></td>
        </tr>
        <tr>
          <td>1月第四周工作计划</td>
          <td><a href="zhishiguanli_gongzuojihua_edit.html">编辑</a></td>
        </tr>
      </tbody>
    </table>

  
{% endblock %}
