{% extends "../base/mbase.html" %}

{% block title %}报检管理{% endblock %}

{% set select_menu = "5" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    .content-list ul {
      list-style: none;
    }
    .content-list ul li {
      line-height: 2;
    }
    .list-root {
      padding-left: 0;
    }
    .hidden {
      display: none;
    }
  </style>
{% endblock %}

{% block body %}
    <div class="row">
      <div class="col" style="margin: 20px 0;">
        <h3>图纸</h3>
      </div>
    </div>
    <p><button class="btn btn-primary">收藏夹</button></p>
    <div>目录</div>
    <div class="content-list">
      <ul class="list-root js-contents">
        <li>
          <div class="js-item"><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;第一册</div>
          <ul>
            <li><div class="js-item"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;第一部分</div></li>
            <li><div class="js-item"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;第二部分</div></li>
            <li><div class="js-item"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;第三部分</div></li>
          </ul>
        </li>
        <li>
          <div class="js-item"><i class="fa fa-folder" aria-hidden="true"></i>&nbsp;第二册</div>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".js-contents").on("click", ".js-item", function(e) {
          var $this = $(this);
          $this.next().toggleClass('hidden');
          console.log($this.next().length);
          if($this.next().length) {
            if ($this.next().hasClass("hidden")) {
              $this.find(".fa").removeClass("fa-folder-open").addClass("fa-folder");
            } else {
              $this.find(".fa").removeClass("fa-folder").addClass("fa-folder-open");
            }
          }
        });
      });
    </script>
{% endblock %}
