{% extends "../base/mbase.html" %}

{% block title %}知识管理{% endblock %}

{% set select_menu = "5" %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="list-group" style="margin-top: 20px;">
      <a href="zhishiguanli_guifan.html" class="list-group-item list-group-item-action">规范</a>
      <a href="zhishiguanli_zuoyezhidaoshu.html" class="list-group-item list-group-item-action">作业指导书</a>
      <a href="zhishiguanli_tuzhi.html" class="list-group-item list-group-item-action">图纸</a>
      <a href="zhishiguanli_gongzuojihua.html" class="list-group-item list-group-item-action">工作计划</a>
      <a href="zhishiguanli_zhiliangkongzhidian.html" class="list-group-item list-group-item-action">质量控制点</a>
    </div>
{% endblock %}
