{% extends "../base/mbase.html" %}

{% block title %}报检管理{% endblock %}

{% set select_menu = "5" %}

{% block header %}
  <style type="text/css">
    select {
      -webkit-appearance: none;
      appearance: none;
    }
    .upload-img-preview {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .upload-img-choose {
      border: 1px dashed #5cb85c;
      height: 100px;
      width: 100px;
      border-radius: 6px;
      text-align: center;
      padding: 0;
      margin-bottom: 0;
      line-height: 96px;
      font-size: 28px;
      color: #5cb85c;
    }
    .data-table thead,
    .data-table tbody{
      min-width: 100%;
    }
  </style>
{% endblock %}

{% block body %}

    <ol class="breadcrumb" style="margin: 20px 0;">
      <li class="breadcrumb-item"><a href="zhishiguanli_gongzuojihua.html">工作计划</a></li>
      <li class="breadcrumb-item active">编辑</li>
    </ol>

    <form>
      <div class="form-group">
        <textarea class="form-control" rows="10">这里是内容</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">发布</button>
      </div>
    </form>

  
{% endblock %}
