{% extends "../base/base.html" %}

{% set select_menu = "4" %}

{% block title %}知识管理{% endblock %}

{% block header %}
  <style type="text/css">
  .book {
    width: 123px;
    height: 78px;
    background: inherit;
    float: left;
    background-color: rgb(208, 225, 125);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    color: #666;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 78px;
  }
  </style>
{% endblock %}

{% block body %}
    <ul class="breadcrumb">
      <li class="active">知识管理</li>
    </ul>
    
    <a class="book" href="zhishiguanli_guifan.html">规范</a>
    <a class="book" href="zhishiguanli_zuoyezhidaoshu.html">作业指导书</a>
    <a class="book" href="zhishiguanli_zhiliangkongzhishu.html">质量控制书</a>
    <a class="book" href="zhishiguanli_tuzhi.html">图纸</a>
    <a class="book" href="zhishiguanli_gongzuojihua.html">工作计划</a>

{% endblock %}
