{% extends "../base/base.html" %}

{% set select_menu = "4" %}

{% block title %}规范-新增{% endblock %}

{% block header %}
  <style type="text/css">
  </style>
{% endblock %}

{% block body %}
    <ul class="breadcrumb">
      <li><a href="zhishiguanli.html">知识管理</a> <span class="divider">/</span></li>
      <li><a href="zhishiguanli_zuoyezhidaoshu.html">作业指导书</a> <span class="divider">/</span></li>
      <li class="active">详细</li>
    </ul>

    <h3>XXXX指导书</h3>

    <div class="content">
      这里是规范的内容...
    </div>

{% endblock %}
