<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}这里是Title{% endblock %}</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bootstrap-datepicker/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="../static/css/common.css">
  {% block header%}{% endblock %}
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>
<body>
  <div class="header__header">
    <div class="header__userinfo pull-right clearfix">
      <div class="pull-right header__userinfo__user">
        <span>欢迎, 张三 | <a href="login.html">注销</a></span>
      </div>
      
      <div class="pull-right header__userinfo__date">
        <span>2017年03月04日</span><br>
        星期六
      </div>

      <div class="pull-right header__userinfo__wether">
        天气：晴朗 <br>
        风力：东南风2-3级 <br>
        温度：-3℃ - 5℃
      </div>
    </div>

    <a href="index.html" style="text-decoration: none;">
      <h1 class="site__title">XXX工程现场管理系统 <small>v1.0</small> </h1>
    </a>
  </div>
  <div class="layout__left">
    <ul class="menu-list">
      <li><a {% if select_menu == "1" %} class="active" {% endif %} href="shigongrizhiguanli.html">施工日志</a></li>
      <li><a {% if select_menu == "2" %} class="active" {% endif %} href="baojianguanli.html">报检管理</a></li>
      <li><a {% if select_menu == "3" %} class="active" {% endif %} href="hunningtushiyongguanli2.html">混凝土使用管理</a></li>
      <li><a {% if select_menu == "4" %} class="active" {% endif %} href="zhishiguanli.html">知识管理</a></li>
      <li><a {% if select_menu == "5" %} class="active" {% endif %} href="yonghuquanxianguanli.html">用户权限管理</a></li>
    </ul>
  </div>
  <div class="layout__main">
    {% block body %}{% endblock %}
  </div>

  <script type="text/javascript" src="../static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="../static/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.input-append.date').datepicker({
          language: "zh-CN",
          format: 'yyyy-mm-dd'
      });
    });
  </script>

</body>
</html>
